{% extends "admin/index.html" %}
{% block body %}
{#<table border="1">#}
{#<tr><td><a href="/admin_add_mayor">Add Mayor</a></td></tr>#}
{#    <tr><td><a href="/admin_view_mayor">View Mayor</a></td></tr>#}
{#<tr><td><a href="/admin_add_councillor">Add Councillor</a></td></tr>#}
{#    <tr><td><a href="/admin_view_councillor">View Councillor</a></td></tr>#}
{#    <tr><td><a href="/admin_add_department">Add Department</a></td></tr>#}
{#    <tr><td><a href="/admin_view_department">View Department</a></td></tr>#}
{#    <tr><td><a href="/admin_add_clerk">Add Clerk</a></td></tr>#}
{#    <tr><td><a href="/admin_view_clerk">View Clerk</a></td></tr>#}
{#    <tr><td><a href="/admin_add_departmenthead">Add Departmenthead</a></td></tr>#}
{#    <tr><td><a href="/admin_view_departmenthead">View Departmenthead</a></td></tr>#}
{#    <tr><td><a href="/admin_add_coorperation">Add Coorperation</a></td></tr>#}
{#    <tr><td><a href="/admin_view_coorperation">View Coorperation profile</a></td></tr>#}
{#    <tr><td><a href="/">Logout</a></td></tr>#}
{#</table>#}
{% endblock  %}