{% extends "admin/index.html" %}
{% block body %}


<form action="" method="get"></form><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/coorperation_update_b" method="post" enctype="multipart/form-data" name="form1">
  <table cellpadding="9">
      <tr>  <td><input type="hidden" name="coid" value="{{ data['profile_id'] }}" class="form-control" /></td></tr>
    <tr>

      <td width="233">Cooperation Name</td>
      <td width="300"><input type="text" name="textfield" id="textfield" value="{{ data['name'] }}" class="form-control" /></td>
    </tr>
   
    <tr>
      <td>Place</td>
      <td><input type="text" name="textfield4" id="textfield4" value="{{ data['place'] }}" class="form-control" /></td>
    </tr>
    <tr>
      <td>Pincode</td>
      <td><input type="number" name="textfield5" id="textfield5" value="{{ data['pin'] }}" class="form-control" /></td>
    </tr>
{#     <tr>#}
{#      <td>Email</td>#}
{#      <td><input type="text" name="textfield3" id="textfield3" value="{{ data['email'] }}" /></td>#}
{#    </tr>#}
     <tr>
      <td>Phone Number</td>
      <td><input type="number" name="textfield2" id="textfield2" value="{{ data['phone'] }}" class="form-control"  /></td>
    </tr>
    <tr>
      <td>Picture</td>
      <td><input type="file" name="fileField" id="fileField" value="{{ data['image'] }}" class="form-control" /></td>
    </tr>
    <tr>
        <td></td>
      <td colspan="2"><input type="submit" name="button" id="button" value="UPDATE" class="btn btn-primary"/></td>
    </tr>
  </table>

</form>
           <script type="text/javascript" src="/static/jquery.js"></script>
<script>
$(document).ready(function(){
{#alert("mmm")#}
 $("#textfield2").keyup(function () {
{#     alert("hiiii");#}
     var a=$("#textfield2").val();
     var h=a.length;
     if(h!=10)
     {
{#         alert("hide");#}
         $("#button").hide();
     }
     else {
         $("#button").show()

     }
{##}
 });


 $("#textfield5").keyup(function () {
{#     alert("hiiii");#}
     var a=$("#textfield5").val();
     var h=a.length;
     if(h!=6)
     {
{#         alert("hide");#}
         $("#button").hide();
     }
     else {
         $("#button").show()

     }
{##}
 });


});

</script>

{% endblock %}