{% extends "dept/index.html"  %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="568" height="528" border="1">
    <tr>
      <th width="329" scope="row">Request description</th>
      <td width="223">&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Date</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">User</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">File</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>&nbsp;</td>
    </tr>
    <tr>
    <td></td>
      <td  scope="row"><input type="submit" name="button" id="button" value="approve" /> <input type="submit" name="button2" id="button2" value="reject" /></td>
    </tr>
  </table>
</form>{% endblock %}