<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr><td><a href="/certi_usr_reqst">CertificateRequestUser</a> </td></tr>
     <tr><td><a href="/dept_notification">Department Notification</a> </td></tr>
    <tr><td><a href="/dept_add_work">Add work</a> </td></tr>
    <tr><td><a href="/dept_work_view">Work view</a> </td></tr>
    <tr><td><a href="/clerk_view">Clerk view</a> </td></tr>
    <tr><td><a href="/dept_appl_reqst">Application Request</a> </td></tr>
    <tr><td><a href="/dept_cert_reqst">Certificate Request</a> </td></tr>
    <tr><td><a href="/">Logout</a></td>

</table>

</body>
</html>