<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="200" border="1">
  <tr>
      <th scope="row"><a href="/clerk_view_notification">View notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/clerk_view_department_rating ">Clerk_view_department_rating </a></th>
  </tr>

  <tr>
    <th scope="row"><a href="view_alloc_work">View_allocated_work</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_appli_request">View_application_request</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_certi_request">View_certificate_request</a> </th>
  </tr>
   <tr>
    <th scope="row"><a href="/">Logout</a> </th>
  </tr>

</table>


</body>
</html>