{% extends "mayor/index.html"  %}
{% block body %}
<form id="form1" name="form1" method="post" action="/mayor_edit_cert_categoryb">
  <table>
      <tr><td><input type="hidden" value="{{ d['category_id'] }}" name="cid"/></td></tr>
    <tr>
      <th>Category</th>
      <th><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ d['category'] }}" required class="form-control"/></th>
    </tr>
    <tr>
      <th>Department</th>
      <td><select name="textfield2" required class="form-control">
      <option value="{{ d['dept_id'] }}">{{ d['name'] }}</option>
            {% for i in data %}
            <option value="{{ i['dept_id']}}">{{ i['name'] }}</option>
            {% endfor %}
        </select>
</td>
    </tr>
    <tr>
      <th>Description</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" required class="form-control">{{ d['description'] }}</textarea></td>
    </tr>
    <tr>
    <td></td>
      <td colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Update" class="btn-success"/>
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
