{% extends "mayor/index.html"  %}
{% block body %}
<form id="form1" name="form1" method="post" action="/mayor_edit_meeting_post">
  <table >
      <tr>

          <input type="hidden" name="textfield" id="textfield" value="{{ data['meetingid'] }} required class="form-control""/>
    </tr>

    <tr>
      <th scope="col">Date</th>
      <th scope="col"><label for="textfield2"></label>
        <div align="left">
          <input type="date" name="textfield2" id="textfield2" value="{{ data['date'] }}" required class="form-control"/>
      </div></th>
    </tr>
    <tr>
      <th>Time</th>
      <td><label for="textfield3"></label>
      <input type="time" name="textfield3" id="textfield3" value="{{ data['time'] }}" required class="form-control"/></td>
    </tr>
    <tr>
      <th>Venue</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" value="{{ data['venue'] }}" required class="form-control"/></td>
    </tr>
    <tr>
      <th>Topic</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" value="{{ data['topic'] }}" required class="form-control"/></td>
    </tr>
    <tr>
    <td></td>
      <td colspan="2"><div>
        <input type="submit" name="button" id="button" value="Edit" class="btn-success"/>
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}
