
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<form method="post" action="/councillor_chat">
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/mayor_add_meeting">Add Meeting</a></th>
  </tr>
 <tr>
     <th scope="row"><a href="/mayor_view_meeting">View meeting</a></th>
   </tr>
  <tr>
    <th scope="row"><a href="/mayor_add_service">Add service</a></th>
  </tr>
   <tr>
    <th scope="row"><a href="/mayor_view_service">View service</a></th>
  </tr>
 <tr>
     <th scope="row"><a href="/mayor_add_project">Add project</a></th>
   </tr>
   <tr>
     <th scope="row"><a href="/mayor_view_project">view project</a></th>
   </tr>
  <tr>
    <th scope="row"><a href="/mayor_add_application_category">Add application category</a>
</th>
  </tr>
 <tr>
    <th scope="row"><a href="/mayor_add_certificate_category">Add certficate category</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_certificate_category">View certficate category</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_application_category">View application category</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_councillor_rating">View councillor rating</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_department_rating">View department rating</a> </th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_add_fundallocatn_to_councillor">Add fund allocation to councillor</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_fundallocatn_to_councillor">View fundallocation to councillor</a></th>
  </tr>
    <tr>
{#    <th scope="row"><a href="/mayor_add_fundallocatn_to_coordinator">Add fundallocation to coordinator</a></th>#}
  </tr>


  <tr>
    <th scope="row"><a href="/mayor_view_fundallocatn_to_coordinator">View fundallocation to coordinator</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_add_notification">Add notification</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/mayor_view_notification">View notification</a></th>
  </tr>
  <tr>
    <th scope="row">
<a href="/mayor_view_public_usage_report">View public usage report</a></th>
  </tr>

   <tr>
     <th scope="row">
<a href="/mayor_view_policies">View policies</a></th>
   </tr>
   <tr>
     <th scope="row"><a href="/mayor_view_suggestion">View suggestion</a></th>
   </tr>
<tr>
    <th scope="row"><input type="submit" value="chat with councillor"></th>
</th>
  </tr>

  
</table>
</form>
</body>
</html>	