<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table width="200" border="1">
     <tr>
    <td><a href="/add_coordinator">Add coordinator</a></td>
  </tr>

  <tr>
    <td><a href="/add_coordinator_view">Coordinator view</a></td>
  </tr>
    <tr>
    <td><a href="/add_policy">Add policy</a></td>
  </tr>
     <tr>
    <td><a href="/add_policy_view">Policy view</a></td>
  </tr>
     <tr>
    <td><a href="/view_cooperation_pro">View cooperation</a></td>
  </tr>
     <tr>
    <td><a href="/add_discussion">Discussion Forum</a></td>
  </tr>
     <tr>
    <td><a href="/view_discussion">View Discussion Forum</a></td>
  </tr>
  <tr>
    <td><a href="/add_fund_to_coordinator">Add_fund_to_coordinator</a></td>
  </tr>
  <tr>
    <td><a href="/add_fund_to_coordinator_view">Fund_to_coordinator_view</a></td>
  </tr>

  <tr>
    <td><a href="/public_need_fund_alloc">Public_need_fund_alloc</a></td>
  </tr>
    <tr>
    <td><a href="/view_fund_allocated">View_fund_allocated</a></td>
  </tr>
  <tr>
    <td><a href="/view_pub_need_report">View_public_need_report</a></td>
  </tr>

<tr><td> <a href="/view_services">View_Services</a> </td></tr>
  <tr>
    <td><a href="/view_meeting">View_meeting</a></td>
  </tr>
  <tr>
    <td><a href="/view_notifi">View_notification</a></td>
  </tr>
  <tr>
    <td><a href="/chat_coordinator">Chat_with_coordinator</a></td>
  </tr>
  <tr>
    <td><a href="/chat_councillors">Chat_with_councillors</a></td>
  </tr>
  <tr>
    <td><a href="/chat_mayor">Chat_with_mayor</a></td>
  </tr>
    <tr><td>
        <a href="/view_rply">Feedback and Reply</a>
    </td></tr>
    <tr><td>
        <a href="/view_sugg">View_suggestion</a>
    </td></tr>
 <tr><td>
        <a href="/view_rating">View_Rating</a>
    </td></tr>

</table>
</body>
</html>