{% extends "councillor/index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped" cellpadding="6">
    <tr>
      <th width="25">#</th>
      <th width="197">Topic</th>
      <th width="90">Date</th>
        <th width="90"></th>
    </tr>
      {% for i in d %}
    <tr>
      <td>{{loop.index }}&nbsp;</td>
      <td>&nbsp;{{ i['discussion_topic']  }}</td>
        <td>{{ i['date'] }}</td>
        <td><a href="/view_discussion_more/{{ i['discussion_id'] }}" >view more</a>&nbsp;</td>

    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}